[2017-05-25 00:03] jywarren opened #1 "Kickoff issue suggestion"
Hi, @ryzokuken - i was thinking that the scenarios from your proposal could each (or the top ones people have liked) become an issue, or at least an item on your planning checklist. Checklists can be re-ordered easily, but just seeing them laid out could be really nice, and perhaps copying in the content of each scenario into an issue, and linking to that issue from the "main" checklist issue, cou

[2017-05-25 00:15] jywarren commented on #1
Also, as we just did at publiclab/leaflet.blurred-image, can you add the `first-timers-only` issue label? Thanks!

[2017-05-25 02:55] ryzokuken commented on #1
@jywarren Added the `first-timers-only` label, and we already have a few predefined labels like `help wanted`, I guess I could make an issue for each of the scenario and tackle them one by one, what do you say?

[2017-05-25 03:16] jywarren commented on #1
Sounds great! @ebarry be aware of this new repo, exciting!

On May 24, 2017 10:55 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-05-25 03:16] ryzokuken opened #2 "List out all the current FTO issues"
Plotsbot should be able to list out all the available `first-timers-only` issues if the user asks for it. The question pattern could be like `@plotsbot fto`, but all ideas are welcome.

The bot should display `first-timers-only` issues from all the repositories from the publiclab organization if no specific repository was mentioned. Otherwise, it should only mention the `first-timers-only` issues

[2017-05-25 13:33] ebarry commented on #1
Wow great! exciting @ryzokuken :D

[2017-05-25 17:35] ryzokuken opened #3 "Print out a descriptive help message"
Plotsbot should print out a descriptive help message that helps the asker make the best possible use of the bot's functionalities. The initial help message, printed out when the user enters `@plotsbot help` should not be very long, and should rather focus on introducing the multiple different facades and how to get help for each of them, thus avoiding spamming the chatroom with the entire help doc

[2017-05-26 17:33] ryzokuken opened #6 "Use ESLint for linting the codebase"
After a look into the various linting frameworks for Node JS (ESLint, JSHint, JSLint and JSCS, mainly). I have decided that ESLint seems to be our best option. Therefore, we should integrate ESLint with the project to maintain the sanity of the codabase. Integrating it this early on would also mean that we have to spend less time fixing linting issues later.

When it comes to the base config to us

[2017-05-26 17:34] ryzokuken commented on #6
@jywarren @ananyo2012 Does this issue seem okay for a `first-timers-only`?

[2017-05-27 20:29] ananyo2012 commented on #6
Yes I think this can be classified as a first-timers issue. Reading from the docs and setting it up seems a good task for first timers.

[2017-06-01 17:48] ananyo2012 commented on #6
I guess I can take this up. Since this is quite important and I also want to start contributing to the project :stuck_out_tongue: I guess this is fine by all?

[2017-06-01 18:07] ryzokuken commented on #6
Yes. Please feel free.

[2017-06-01 19:56] ryzokuken commented on #6
Yes. Please feel free.

[2017-06-01 20:18] ryzokuken opened #7 "Use an appropriate testing framework"
In order to make the project robust and avoid any major bugs, we need to have good test coverage. Therefore, I find it convenient to include and make use of a testing framework from this very early stage so that we can write tests as we go.

When it comes to backend test frameworks for Node JS, we have 3 major choices:
* Mocha
* Jest
* Jasmine

Removed from the list:
* Chai
* should.js

[My bad, t

[2017-06-01 20:25] jywarren commented on #7
Hi, Ujjwal - i've mentioned that while Jasmine is great esp. since makes
for consistency across PL projects, it's primarily a browser-based test
system. I also suggested `tape` which we've used in image-sequencer -- it's
really really minimal, but more general purpose:

https://github.com/publiclab/image-sequencer/blob/master/package.json#L7

Can you start collecting some pros/cons to the top choi

[2017-06-01 20:56] ryzokuken commented on #7
@jywarren Yes. Over the next day or two, I intend to make a few notes here over the pros and cons of each testing framework so that everyone else can look into them and help decide.

[2017-06-01 21:28] ryzokuken opened #8 "IRC nick availability issues"
Sometimes, the specific IRC nick isn't available for use over the network (this might happen due to a connection issue where a previous instance has neither parted nor timed out of the channel and you try to reconnect). In such a scenario, the IRC library in use falls back to another numbered nick (i.e., if you `plotsbot` is taken, you will be named `plotsbot1` instead).

Naturally, the user would

[2017-06-02 14:26] jywarren commented on #6
Hi, all - both because Ananyo is interested in it, and because it doesn't have quite the full checklist and welcoming documentation of our [other first-timers-only issues](https://github.com/publiclab/plots2/labels/first-timers-only), i'm removing the FTO label. I think it's a great one for `help-wanted` -- but it's not quite the easy few steps that might make a good FTO experience. Especially as

[2017-06-02 15:39] ryzokuken commented on #6
@jywarren I got what you meant. In the future, I will make sure to include the checklist and a more comprehensive set of instructions in the first-timers-only issues.

Thanks.

[2017-06-05 16:58] #3 closed

[2017-06-05 17:08] ananyo2012 opened #9 "Allow console input/output for bot"
This feature will allow to test out the bot in node console in development without deploying it in production. It is greatly helpful for testing out the bot during development while a new feature is implemented.

[2017-06-05 18:06] jywarren commented on #9
Great idea :-)

This could also be used to test the bot just in an HTML window, possibly? Like on GitHub Pages as a demo?

[2017-06-05 18:15] jywarren opened #10 "small readme clarifications"
I was thinking the Readme could be refined slightly, on a few counts:

1. Some line would be nice that say `plotsbot is an integrated system for bots across various interfaces, such as in an IRC chatroom, in GitHub issues, or on PublicLab.org. The bot consists of a set of behaviors, like "Greet" or "Help" (see below) which can work on one or more interface.`
1. https://github.com/publiclab/plotsbo

[2017-06-05 18:33] jywarren opened #11 "Add "How do I add a behavior?" and "How do I add an interface?" sections to README"

[2017-06-05 19:00] ryzokuken commented on #11
This one sounds really good. One little confusion though. Would this be regarding people contributing stuff (actually coding a new interface, etc)? or regarding people making suggestions?

[2017-06-05 19:51] jywarren commented on #11
Both -- suggestions are the first step in contributing, so collecting
requests/suggestions sets the stage for contributions, i think!

On Mon, Jun 5, 2017 at 3:00 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-06 10:55] ryzokuken opened #13 "Make an API interface"
Add an API interface to the list of interfaces of the bot. This interface acts as an endpoint that can be utilized by frontend applications (eg: a sandbox webapp on `publiclab.github.io/plotsbot`).

In its simplest form, the API could constitute of a single route that would make a GET request with some request data in the form of a message and the bot would respond in the form of the response the

[2017-06-06 13:55] david-days commented on #13
@ryzokuken , it's not a requirements, but if we write swagger-compliant (or wrapped) service APIs, then we'll be able to pull this into the overall developer interface that we're working on as Planning Issue #1449 of the plots2 code.

I'd be glad to help out on this.  Here's some links for your consideration:

[NodeJS Swagger](https://github.com/swagger-api/swagger-node)
[Swagger UI](http://editor

[2017-06-06 14:35] jywarren commented on #11
This would also be a good place to outline the API for behaviors and the API for interfaces. You could show a very simple example interface and what is the minimum required methods or properties and interface needs to work. This will both make it easier for people to read your code, and will make it easier for them to write code that properly integrates with your expected API.

[2017-06-06 14:37] jywarren commented on #11
I think the publiclab.editor Library does something like this in order to show how to write a new module for the editor. Each module for the editor requires, for example, a .value() method.

[2017-06-06 15:22] ryzokuken commented on #13
@david-days This sounds great. I have no reasons not to make the API swagger compliant and would love to work with you on this.

[2017-06-06 17:43] #9 closed

[2017-06-06 18:00] ananyo2012 commented on #13
Sounds exciting! An web API for plotsbot. I will have a look a Koa. I know a bit about Express. But the look will be for something in which we can quickly integrate the API.

[2017-06-06 18:28] #10 closed

[2017-06-06 18:29] jywarren commented on #1
Can we close this since the projects are now posted? https://github.com/publiclab/plotsbot/projects

Please do if so! Thanks!

[2017-06-06 18:29] jywarren commented on #1
I guess I'd like a way to look at the overall progress. That'd be at https://github.com/publiclab/plotsbot/milestones, which looks great too!

[2017-06-06 18:30] jywarren commented on #1
OK!

[2017-06-06 18:30] #1 closed

[2017-06-06 18:30] jywarren opened #15 "Set up TravisCI with tests"

[2017-06-06 18:31] jywarren opened #16 "Link to a place to test out the latest version of the bot on Matrix or IRC"

[2017-06-06 18:33] jywarren commented on #7
Great, sounds like this is coming along. Once tests start to be used, each test can illustrate a Behavior, and the Behavior section of the README could link to the tests code to illustrate how a behavior plays out. Make sense? That way the tests help to illustrate the functionality in a readable way. :-)

@david-days - it'd be cool if, to some degree, the API tests on plots2 were structured simila

[2017-06-06 19:00] ananyo2012 commented on #16
This can go in the readme section. #publiclab-testing on OFTC or https://riot.im/app/#/room/#publiclab-testing:matrix.org

[2017-06-06 21:57] ananyo2012 commented on #15
I can take up this one in the mean time while the testing framework is decided.

[2017-06-07 05:37] ryzokuken commented on #13
@david-days According to what I found on the internet, Swagger is a tool for autogenerating APIs with sufficient documentation for YAML configuration files. For Node, it generates a new API project with the backend framework of your choice (Express, Hapi etc) with the given specifications. It also comes with an editor which makes writing APIs a breeze.

However, I feel like Swagger might not be th

[2017-06-07 18:25] #6 closed

[2017-06-08 18:02] ryzokuken commented on #7
@jywarren I am almost done setting up Jasmine with the project. Will make a PR for that and then tomorrow (hopefully, your tonight) make a PR with tests for the current behaviors. One thing I wanted to clarify was the naming of the different specs. Do I named the spec files like `spec/GithubSpec.js` or like `spec/github-spec.js`? So basically, do I name them in capitalized camelcase or in kebab ca

[2017-06-08 20:36] jywarren commented on #7
i hadn't heard the term "kebab case" but that's great. You know, it's up to
you, i don't have a strong preference!

On Thu, Jun 8, 2017 at 2:02 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-10 17:52] #7 closed

[2017-06-10 17:54] ryzokuken opened #26 "Integrate Coveralls"
Coveralls integration is something very platform / CI / testing library specific. Figure out a way to make it work.

[2017-06-10 18:10] ryzokuken opened #27 "Add badges to README"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who **either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.**

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-06-11 07:30] ryzokuken opened #28 "Use something like foreverjs in production"
Recently came across foreverjs, an npm module that runs scripts continuously (i.e. forever). We could use this or a similar tool in production for maximum uptime.

[2017-06-11 17:14] ryzokuken opened #29 "Add a Code of Conduct"
Resolving this issue involves two steps:
1. Writing a Code of Conduct in a file in the root directory of the project (preferably named CODE_OF_CONDUCT)
2. Link the Code of Conduct to the README

One is not required to write all the code of conduct by oneself. For the most part, content from an existing code of conduct can be borrowed. A few good recommendations would be:
1. Publiclab's code of con

[2017-06-11 17:16] ryzokuken opened #30 "Clarify about when to bump a version and when not to"

[2017-06-11 17:19] ryzokuken opened #31 "Add a CONTRIBUTING file"
Add a CONTRIBUTING markdown file, shift the current contribution information from the README to this file, add information about how to name branches and everything, general guidelines regarding contributing to the project. Also, this file would be the most appropriate place to include the content to be added under #11.

Link this file to the README.

[2017-06-12 14:39] ebarry commented on #29
Can we include both of these? Having the Public Lab code of conduct is necessary, but also perhaps the Contributor covenant adds some important software related cultural practices that are needed?

[2017-06-12 14:41] ananyo2012 commented on #26
Yup I have setup it in Plots2 as well. Check documentation at https://coveralls.io. You can leave this to me. While you take care of more important issues

[2017-06-12 14:42] ananyo2012 commented on #27
Ah this looks like a great FTO issue. can you reformat this in the FTO template?

[2017-06-12 14:52] ryzokuken commented on #27
@ananyo2012 Sure, I will.

[2017-06-12 14:52] ryzokuken commented on #26
@ananyo2012 Great. Thanks a lot.

[2017-06-12 14:55] ananyo2012 commented on #28
Is it something like `grunt build`?

[2017-06-12 14:57] ryzokuken commented on #29
@ebarry That doesn't sound like a problem to me. However, I am, to an extent oblivious to this side of open source projects.

Could you give a read to https://opensource.guide/code-of-conduct/ (I will read be reading this as well) in order to find out the best practices when it comes to code of conducts? I feel that using our organization's code of conduct is necessary while the contributor covena

[2017-06-12 15:04] ryzokuken commented on #28
In a way. It basically makes sure the script keeps running... well, forever. I would myself need to consult the documentation for anything more than that. I just found it on npm and thought that it would be cool to share it with you guys. Maybe we could use it.

[2017-06-12 15:13] ananyo2012 commented on #28
I will have a look at its documentation too

[2017-06-12 15:18] ananyo2012 commented on #30
Looks like you can make a PR for this.

[2017-06-12 15:26] ananyo2012 commented on #29
We can use PublicLab's code of conduct. We already have it in Plots2. And we should have it here too to maintain consistency

[2017-06-12 16:33] ryzokuken commented on #30
This will probably be automatically closed once you merge the PR.

[2017-06-12 16:42] #30 closed

[2017-06-12 20:24] jywarren commented on #29
So glad you're looking closely at all this, and thanks everyone for your
helpful input!

On Mon, Jun 12, 2017 at 11:26 AM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-06-12 20:53] ebarry commented on #29
+1

[2017-06-12 21:50] jywarren opened #33 "Add "try it out here" demo"
Do you think we could link to the demo here: https://riot.im/app/#/room/#publiclab-testing:matrix.org  from the README?

[2017-06-12 23:02] jywarren commented on #27
+1 :-)

On Mon, Jun 12, 2017 at 10:52 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-13 04:47] ryzokuken commented on #33
We can definitely link the chatroom in the README. How is this different from #16 though?

[2017-06-13 18:03] ryzokuken commented on #27
@jywarren @ananyo2012 Look at this one and label it as an FTO if you guys find it appropriate. I feel that we can use this one as not one but six FTOs. We can definitely append to this list of badges later.

[2017-06-14 03:13] ananyo2012 commented on #27
Since these are small readme changes we can go on with a single PR. But again @jywarren can say it better :blush:

[2017-06-14 14:28] jywarren commented on #27
I could go either way, but consider that the point of an FTO is not to
solve a problem efficiently (although that's a secondary goal) but to
engage new people into a project. So:

* 6 could engage more people, and since the formatting is nearly the same
for each, it's easy to make them all vs 6 completely novel ones
* but are we ready for 6 new people to join -- like are there other issues
they co

[2017-06-14 14:29] jywarren commented on #33
Oops, sorry you're right! Somehow i missed that. Reading too many PRs! Can
you close this then? Thanks.

On Tue, Jun 13, 2017 at 12:47 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-14 14:41] ryzokuken commented on #27
@jywarren Exactly. Let's not expect that six new people would show up almost instantly. Also, if they do. We do have some stuff up our sleeve that we **might** have to rush to, but I don't think
(A) It's a huge possibility.
(B) It would be that difficult to add a few good level-2 issues. Probably a few features on the chatbot service.
Let's keep in mind that plots2 has been consistently making gre

[2017-06-14 14:45] jywarren commented on #27
True. Great thinking ahead!

On Wed, Jun 14, 2017 at 10:41 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-14 14:45] ryzokuken commented on #33
I will. I get it that you care about this. I will probably add this to the README in a PR today. Thanks

[2017-06-14 14:45] #33 closed

[2017-06-14 14:52] ryzokuken commented on #27
@jywarren Then should we clear this and add the FTO label?

[2017-06-14 14:57] jywarren commented on #27
once it has full checklist and docs, go for it. Or you can break out
sub-issues for each separate one if you want to do multiple, and track them
overall from here. Either way!

On Wed, Jun 14, 2017 at 10:52 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-14 14:57] jywarren commented on #33
:-) also just a bit forgetful, but thanks.

On Wed, Jun 14, 2017 at 10:45 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-14 15:04] ryzokuken commented on #27
One issue for each also sounds great. Although uptil now I wanted to use this single issue for all 6 FTOs. I will make 6 new issues today for each one.

Is the checklist not complete? I copied it from an FTO at plots2.

[2017-06-14 15:14] jywarren commented on #27
Yes, can you just linkify shields.io (it's not doing it automatically unfortunately) and link to the README file itself directly so it's even more explicit? You may want to indicate what line too. Thanks!

[2017-06-14 15:14] jywarren commented on #27
Sorry i was replying via email so didn't see the checklist :-) Perfect

[2017-06-14 15:16] ryzokuken commented on #27
Great. I will do those right now. Please add the label when you find the issue appropriate.

[2017-06-14 16:42] ryzokuken commented on #27
@jywarren I added a few probable positions for the badge, let's decide which one would work best for us. Also, should we cleanup the issue by removing all the comments?

[2017-06-14 18:42] jywarren commented on #27
sure, go ahead!

On Wed, Jun 14, 2017 at 12:42 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-15 07:36] ryzokuken opened #37 "Add project to up-for-grabs.net"
https://github.com/up-for-grabs/up-for-grabs.net#add-a-project

[2017-06-15 09:31] ryzokuken commented on #37
Merged and done.

@jywarren we're live already. yay!

![screenshot_2017-06-15_15-00-12](https://user-images.githubusercontent.com/13121330/27174984-76487718-51db-11e7-89d9-650e6a95aebe.png)

[2017-06-15 09:31] #37 closed

[2017-06-15 17:06] ananyo2012 commented on #37
Thanks @ryzokuken for this awesome initiative 👍

[2017-06-15 17:39] ebarry commented on #37
tweeted!
https://twitter.com/PublicLab/status/875363081119051776

[2017-06-15 17:49] ryzokuken commented on #37
Thanks @ebarry!

[2017-06-16 17:35] ryzokuken commented on #31
@jywarren what do you think about this one?

[2017-06-16 17:38] ananyo2012 commented on #15
Closed by #22, #23, #25. We will add more tests as we go.

[2017-06-16 17:38] #15 closed

[2017-06-16 17:45] ryzokuken commented on #13
This seems to be the next best task for me to pick up.

@ananyo2012 looking forward to discuss with you about this tomorrow and start working on it.

[2017-06-16 18:48] jywarren commented on #13
Hi, Ujjwal - which other interfaces are complete -- the console one and the
chatbot one, right? Shall we build out a more complex behavior for the
chatbot interface first?

On Fri, Jun 16, 2017 at 1:45 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-16 20:03] jywarren commented on #31
Well, I think the README can be quite long before this is needed, and it's great for it to be all in one place. So maybe we could wait on this until the README gets really really long?

[2017-06-16 20:05] jywarren opened #38 "Link in README seems broken?"
https://github.com/publiclab/plotsbot/blob/master/chatbot.js#L18-L21

[2017-06-16 20:10] jywarren opened #39 "Modularity of behaviors?"
Hi, @ryzokuken - so are you calling things like `greet` and `help` "services" then, and not "behaviors"?

In any case, I see the `help` behavior is inside `util.js` and I wonder if we could make each Behavior its own submodule, included via a `require()` and with its own internal/external API. There could be a folder at `/src/behavoirs/____` which includes each one. Then we could just have a listi

[2017-06-16 20:15] jywarren commented on #39
Ah, i think i see the distinction -- tell me if this is right:

1. services are a "way that the bot acts generally for an interface" -- so a chatbot is a set of ways-to-act relevant to some types of interfaces, like `irc`.
2. behaviors are "specific actions a service may perform" -- so, a chatbot might hear "help" and respond with a helpful message.

And services are needed because multiple interf

[2017-06-16 20:25] jywarren commented on #39
But for this idea of encapsulating the behaviors each in one file, talk with @ccpandhare -- see how this is being done in the modules over there: https://github.com/publiclab/image-sequencer/tree/master/src/modules

[2017-06-16 20:34] jywarren opened #40 "Static text request/response in specs?"
The specs for the chatbot look pretty good!

https://github.com/publiclab/plotsbot/blob/master/spec/chatbot-spec.js

But I wonder if we're testing against its own interface too much... i think the expected response should perhaps be compared to a static string, to ensure we're not being circular.

That would also make the tests human-readable -- i.e. you ask a phrase `chatbot help` and you get a r

[2017-06-17 05:17] ryzokuken commented on #13
@jywarren that definitely sounds good. I think we desperately need more feature issues. Let's talk today and draft up a small list of features we can work on next?

[2017-06-17 05:19] ryzokuken commented on #31
@jywarren sure, sounds good.

[2017-06-17 05:22] ryzokuken commented on #39
@jywarren you got it. Services are basically groups of behaviors grouped on the basis of function. eg: help behavior comes under the chatbot service and so on. I am willing to discuss this. Hopefully, we'll make the codebase more legible for new contributors. I agree that the `utils` file makes things extremely confusing.

[2017-06-17 06:11] ananyo2012 commented on #40
Yes I was in fact we can do that by testing the messageResponse function.
ᐧ

On Sat, Jun 17, 2017 at 2:04 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2017-06-17 10:03] ananyo2012 commented on #38
Can you mention which section in readme contains this link?

[2017-06-17 10:12] ananyo2012 commented on #13
Yes @ryzokuken is right. For now we should think of more feature issues than making a new interface

[2017-06-17 13:06] jywarren commented on #39
That's great -- can we build out a part of the README that says this very specifically? I had been confused about services vs. interfaces or behaviors. Maybe one section near the top that says `plotsbot` is made of these three components, and `interfaces` is just the functional connection to different external applications, while `services` describes actions associated with a "general type" of ser

[2017-06-17 13:18] jywarren commented on #40
Sorry, not sure I understood -- do you mean we should test both methods
against the same static expectation?

On Sat, Jun 17, 2017 at 2:11 AM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-06-17 13:23] jywarren commented on #13
Features meaning behaviors?

Let's get the behaviors into their own folder and standardize the way to add a new behavior accordingly, i.e.

1. add a new file to /behaviors/ following the format in the `help` behavior
2. add a new line to `/behaviors.js` (included into `util.js`?) requiring your new file
3. add a test for your new behavior, showing how it's supposed to work, following the example i

[2017-06-17 13:24] jywarren commented on #39
OK, so copying in my comment from #13, this is fleshing out the 2nd checkbox from my last comment:

Let's get the behaviors into their own folder and standardize the way to add a new behavior accordingly, i.e. (and adding this to the README):

1. add a new file to /behaviors/ following the format in the `help` behavior
2. add a new line to `/behaviors.js` (included into `util.js`?) requiring your

[2017-06-17 13:32] jywarren commented on #38
Fixed!

[2017-06-17 13:32] #38 closed

[2017-06-17 13:32] jywarren commented on #39
And now that I look at it, `utils.js` will just become `behaviors.js` once you move all the `help` behaviors into its own file.

[2017-06-17 13:34] jywarren commented on #39
And then `utils.messageResponse(this.nick, parsed);` becomes `behaviors.run(this.nick, parsed);` -- although maybe `this.nick` needs to be clarified -- `botNick` so we don't accidentally think it's the real person's nick? Or is it?

https://github.com/publiclab/plotsbot/blob/master/services/chatbot.js#L38

[2017-06-17 13:36] jywarren commented on #39
Ah, oops, it is the real person's nick. Better change that to clarify! Maybe... `behaviors.run(theirNick, parsedMessage);`?

[2017-06-17 14:22] ryzokuken commented on #39
@jywarren great ideas. Would love to discuss this with you in person if possible and get this sorted. Then I will change the `help` and `greet` behaviors to conform to our new standards and add this specification to the README. This would definitely improve the workflow, make contributor's jobs and our lives easier.

[2017-06-17 14:30] jywarren commented on #39
Hi, Ujjwal - I'm sorry but I don't have time today to talk in person, and
in general I often don't, as you have probably realized. For this I
apologise but there are a lot of projects going on right now.

Do you think you could meet with Ananyo and discuss things, and post
questions and clarifications on GitHub so I can provide feedback when I'm
able? You two are a great team and your work to date

[2017-06-17 14:44] ryzokuken commented on #39
@jywarren okay, I totally get it. Will post the results of our discussions on Github today. I have a few ideas. Hopefully, you will like it.

[2017-06-17 17:21] ananyo2012 commented on #40
What I meant was we can write `Utils-spec` and there we can test the `messageResponse` function against static text expectations. That should take care of it right?

[2017-06-17 17:28] ryzokuken commented on #40
@ananyo2012 let's discuss this right now if you're free?

[2017-06-17 17:28] jywarren commented on #40
Yes! Although it seems we should be making a folder for /behaviors/ in the
/spec/ folder and creating a unique spec for each behavior, under the new
architecture.

On Sat, Jun 17, 2017 at 1:21 PM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-06-17 17:30] ryzokuken commented on #40
I made utils thinking I would add functions in it that would be general utilities across all services, but ended up adding the complete help functionality there. Its not appropriate place for those functions. I think placing those functions in the appropriate place and keeping `utils.js` for functions that are general utilities only would work best for us.

[2017-06-17 17:43] jywarren commented on #40
Yes, i think `utils.js` is appropriate for some things, but if you move all
`help` methods into a `help.js` behavior, and both the behavior-related
methods into `behaviors.js`, theres not a lot left in `utils.js` -- but
that's fine. Small is good!

On Sat, Jun 17, 2017 at 1:30 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-17 18:19] ananyo2012 commented on #39
Hi @ryzokuken @jywarren I guess a proper tree structure regarding the modules should be thought of so that we are clear with the approach.

[2017-06-17 18:39] ryzokuken commented on #39
@ananyo2012 that's a great idea. We could make a simple diagram to explain it.

[2017-06-17 18:59] jywarren commented on #39
+1!

On Sat, Jun 17, 2017 at 2:39 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-18 08:06] ryzokuken commented on #39
**Our current directory structure**
[code]

[2017-06-18 08:08] ryzokuken commented on #39
**A possibility**
[code]

[2017-06-18 08:29] ryzokuken commented on #39
**A rough specification for behaviors**
[code]

We could add the `class Behavior` to a folder called `models` or inside the `behaviors` folder itself. We could either write a `class MessageBehavior extends Behavior` to include the extra property to just include the `indetifier` property in the original class and set it to `undefined` whenever unneeded or set it anyway and not use it. (I prefer the

[2017-06-18 11:54] jywarren commented on #39
What about "trigger" instead of type and " keyword" instead of identifier?
I don't feel strongly about it but just a suggestion.

On Jun 18, 2017 4:29 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-06-18 12:37] ryzokuken commented on #39
@jywarren any word that captures the meaning of the variable best would work for me. What are your thoughts about the plan overall?

[2017-06-18 13:33] jywarren commented on #39
I like it -- did you get rid of /services/ for some reason? I thought that
was fine as it was. I also think to avoid too many folders, we could have
/behaviors.js and /behaviors/____.js

On Sun, Jun 18, 2017 at 8:37 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-18 16:28] ryzokuken commented on #39
@jywarren `behaviors.js` and `behaviors/*.js` sounds great too. Let's finalize it then.

As services were nothing but groups of behaviors, I don't think we'd need services anymore.

What about the specification though, does that sound okay to you?

[2017-06-18 16:35] jywarren commented on #39
It sounds great. Let's start a PR, with the documentation, and build it out!

On Sun, Jun 18, 2017 at 12:28 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-18 16:42] ryzokuken commented on #39
## The standard arguments to behavior actions

### Join behaviors

1. `channel: String` => The channel on which the user joined. As DM channels cannot be joined, this would be more useful once the bot is deployed on multiple channels (which it will be soon when it hits `v1.0.0`)

2. `username: String` => The username of the user who just joined.

### Message Behavior

1. `from: String` => the nick

[2017-06-18 16:45] jywarren commented on #39
I think if it regularly shows up as bot.nick, that's fine, but this.nick is
not great. Can you internally alias "this" to "bot" wherever you can? It's
good practice anyway not to blindly use "this" since it has different
meanings throughout a source code file.

On Jun 18, 2017 12:42 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-06-18 17:03] ryzokuken commented on #39
@jywarren Sure, why not.

[2017-06-18 17:07] ryzokuken commented on #39
@jywarren while I am starting to work on the PR, should we make this a `major` version change? I mean, there are breaking changes in the application API, right? I am new to semver.

[2017-06-18 17:43] jywarren commented on #39
yep, agreed, api-breaking. Super!

On Sun, Jun 18, 2017 at 1:07 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-19 12:31] ryzokuken opened #43 "Move all source files to src directory"
The root directory of the folder has started to clutter up (believe me, this is just the beginning). A good idea is the leave the root directory for the configuration files and LICENSE and README and stuff, and move all the source files to a directory inside the root directory named `src`.

**Current Directory Tree**

[code]

**Proposed Directory Tree**

[code]

This is widely adopted pattern and

[2017-06-19 12:42] jywarren commented on #43
Strongly agree!

On Jun 19, 2017 8:31 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-06-20 13:32] #39 closed

[2017-06-20 14:21] ryzokuken commented on #40
@jywarren I think the new tests I wrote satisfy these requirements. I have generated the raw strings using the `helpMessage` function and compared the response to them rather than using function calls. Should we close this now?

[2017-06-20 15:35] jywarren commented on #40
I saw that the input text was static, but not the response text -- unless
maybe I missed something. I think we should test both against static
strings, so the exact wording of call/response is clear to someone reading
the test -- is that OK? Thanks!

On Tue, Jun 20, 2017 at 10:21 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-20 16:42] ryzokuken opened #45 "Use a more approprimate format for the config file"
When the project was created, I stored the configuration object inside a `js` file because it was most convenient to store the config inside a static object and export it to later conveniently `require` the configuration.

However, now I strongly feel that we should switch to a more sane format for storing configurations. Not only would it be better, but the file would also "look" more like a conf

[2017-06-20 16:43] ryzokuken commented on #45
@publiclab/soc your thoughts on this?

[2017-06-20 16:44] #43 closed

[2017-06-20 16:47] ryzokuken commented on #40
@jywarren

[code]

the `helpMessage` function is absolutely as low level as it gets. This function is returning the help texts for each module. I used this as manually writing matching help texts would get too tedious. Especially later when we have tons of behaviors to test. Here's how the function looks:

[code]

just one level above manually setting the text string. But if you're still dissastis

[2017-06-20 23:49] jywarren commented on #45
JSON! Strong preference as it's much more adaptable to a javascript-only
environment, if we ever wanted to run these modules in the browser, for
example.

On Tue, Jun 20, 2017 at 12:43 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-20 23:55] jywarren commented on #40
I see what you're saying, but we're then testing an input against another function whose output is not purely static. `helpMessage` does some string manipulation, so it should be tested as well -- it's not just a matter of using it as a helper.

I think we could use it as a helper in some tests, but at some point it has to be asserted/compared against a static string to ensure it's inserting param

[2017-06-20 23:58] jywarren commented on #40
I guess maybe it's possible I'm being too extreme.

Let's say that at least, when you call `  const chatbotHelp = helpMessage(botNick, 'chatbot');` the string `chatbot` is not enough for a reader to know that it's the right message. And since it's not in the same test, it's not as easy to read over the test and really know, quickly, that the chatbot will respond in an expected way. What do you thi

[2017-06-21 00:00] jywarren commented on #40
Like, reading these: https://github.com/publiclab/plotsbot/blob/master/spec/help-spec.js#L16

I wonder why line 11 and 16 both return the same thing:

`  it('should print specific help for existing modules', () => {`

vs

`  it('should print specific help for nonexisting modules', () => {`

Maybe even without hard-coding the strings, using a more descriptive string to describe what the output will

[2017-06-21 05:38] ryzokuken commented on #40
@jywarren I understand. I will swap the variables with their static counterparts.

[2017-06-21 05:38] ryzokuken commented on #45
@jywarren great. Then JSON seems the way to go.

[2017-06-21 17:27] ananyo2012 commented on #45
+1 for JSON

[2017-06-21 17:36] ryzokuken commented on #45
@ananyo2012 JSON it is, then. I have a PR open. Look into it, I'll submit one for this then. Thanks :)

[2017-06-22 18:25] #16 closed

[2017-06-26 04:11] ananyo2012 commented on #45
Closed by #47

[2017-06-26 04:11] #45 closed

[2017-06-26 17:26] ryzokuken commented on #26
@ananyo2012 did you look it up?

[2017-06-26 17:28] ryzokuken commented on #2
@ananyo2012 @jywarren things have been a little low-profile lately. Should I start working on this?

[2017-06-26 18:32] ananyo2012 commented on #2
Yes sure Ujjwal. In the mean time we figure out how to use the Plots2 API
in the bot you can work on this till then.

On Jun 26, 2017 11:00 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-06-26 18:34] ananyo2012 commented on #26
Ah I actually didn't get time to work on this. But you cab just leave this
one out or mark it as low priority and look on adding more features

On Jun 26, 2017 10:57 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

@ananyo2012 <https://github.com/ananyo2012> did you look it up?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://git

[2017-06-26 18:55] ryzokuken commented on #2
I think @jywarren would have to create an application on Github and get the required the keys being the owner of the organization. Meanwhile, I would register a makeshift key in my own name on Github.

[2017-06-26 20:13] jywarren commented on #2
Happy to get keys when needed, but yes, until we have a more
feature-complete version running (say on the main chatroom) we can work
with a temporary key thats one of yours. Thanks!

On Mon, Jun 26, 2017 at 2:55 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-27 19:28] jywarren opened #49 "Possibly create WeChat interface"
Not very high priority, but an idea:

https://www.npmjs.com/package/wechat

https://github.com/wechat-bots/wechat-bot

[2017-06-28 03:15] ananyo2012 commented on #49
Yes PublicLab has a China Community as per I remember. And WeChat is widely
used in China.

+1 to the idea.

On Jun 28, 2017 12:58 AM, "Jeffrey Warren" <notifications@github.com> wrote:

Not very high priority, but an idea:

https://www.npmjs.com/package/wechat

https://github.com/wechat-bots/wechat-bot

—
You are receiving this because you are subscribed to this thread.
Reply to this email direct

[2017-06-28 13:08] ebarry commented on #49
@shantler what do you think?

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Tue, Jun 27, 2017 at 11:15 PM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-06-28 15:09] ryzokuken commented on #49
@ebarry They weren't mentioned. Are you sure they are on Github? They must be using a different username in that case.

[2017-06-28 16:09] ebarry commented on #49
i fixed it! take a look at this WeChat idea @shanlter

[2017-06-29 15:59] ryzokuken commented on #27
Hello and welcome aboard, @Alhern!
We would love to have you contribute to this issue.

In case you face any issues setting up the project locally or regarding anything else related, feel free to ask on this thread, or you could join (#publiclab on the OFTC IRC server)[http://chat.publiclab.org/] or the #publiclab matrix chatroom, or the (Gitter chatroom)[https://gitter.im/publiclab/publiclab], wh

[2017-06-29 16:07] Alhern commented on #27
Thanks a lot, @ryzokuken!
I've found you by looking through the first timers only tag, I looked at your projects and read your readme's, I really liked how friendly and welcoming you were and this is why I decided to give it a try with a little pull request.

[2017-06-29 16:17] ryzokuken commented on #27
That's wonderful, @Alhern.
Looking forward to your PR.

[2017-07-01 08:49] shanlter commented on #49
100% for this idea!! I can share the wechat login to someone, maybe @jywarren ? So you could play with it when you have time?

[2017-07-01 09:10] ryzokuken commented on #49
@shanlter I would love to know more about it... Are specific credentials required to join the WeChat room? Isn't it open for everyone? If it is, the bot could just join the room. Will look into WeChat more extensively over the next few days.

[2017-07-01 17:12] bassdeveloper commented on #26
Can I take this up ?

[2017-07-01 17:15] ryzokuken commented on #26
Sure, Rishabh. Just make sure @ananyo isn't working on it already.

On Sat 1 Jul, 2017, 10:42 PM Rishabh Chakrabarti, <notifications@github.com>
wrote:

[2017-07-01 21:48] ryzokuken opened #53 "Move behaviors/index.js into a separate npm module"
@jywarren @ananyo2012 I think this is high time we took `src/behaviors/index.js` and make it a separate npm module.

When we started out, there were no "frameworks" as such for building effective chatbots in Node or chatbots in general, and we decided to begin writing one from scratch. In the process of writing a chatbot, we have started to develop and perfect not only a chatbot but also an underl

[2017-07-02 18:28] ananyo2012 commented on #26
@bassdeveloper Sure go ahead. I didn't get time to work on it.

[2017-07-03 04:40] ananyo2012 commented on #53
@ryzokuken It is a good step to make the project grow. So you want to make the entire behavior module a separate npm package right? Or just the `behavior/index.js` into another module ?

About licencing and ownership I leave the decision to @jywarren but regarding permissions it will be the same even if you keep it a part of publiclab as what matters are the permissions to a repo not a Org.

[2017-07-03 05:11] ryzokuken commented on #53
@ananyo2012 mainly the behaviors/index.js file only, because the behaviours are specific to publiclab. Anyone who decides to use our library would have to code their own behaviours.

I also have write access to the current repository, but I don't feel comfortable merging things unilaterally into publiclab's repos. I am really do not feel entitled to do so. Plus, adding the repo someplace else woul

[2017-07-03 06:06] shanlter commented on #49
@ryzokuken "WeChat room" you mean WeChat official account? There are many types of WeChat official account, each type ask for different credentials, correspondingly has different function. Public Lab's Wechat account is: PublicLabChina.  it's a basic type of official account. But still has many build-in functions. more info around the official account here: https://admin.wechat.com

[2017-07-03 14:38] ryzokuken commented on #49
@shanlter It would probably take me some time to get used to WeChat's terminology. In all the services I have used in the past, users have personal accounts and are supposed to join a group, team, or a chatroom. (eg: Publiclab's IRC chatroom, Matrix Group or Slack Team)

[2017-07-03 18:21] ryzokuken commented on #53
@jywarren what are your thoughts on this?

[2017-07-03 20:26] jywarren commented on #53
Hi, @ryzokuken - thanks for your clear, thoughtful and flexible proposal here. I'm going to ask for input from others, and I think there's no particular urgency to move forward on this just yet -- tomorrow is a holiday in the US, so perhaps we could focus on other things until later this week?

Thanks.

[2017-07-03 20:31] ryzokuken commented on #53
@jywarren I concur. We have more important things to deal with, and hopefully the engine is already operating optimally. Let's finish up #51 (I have added the documentation, awaiting your approval in there) and a few other things before thinking more about this.

Thanks.

[2017-07-05 22:04] ryzokuken commented on #26
@bassdeveloper How's the work going on this? Are you facing any issues?

[2017-07-05 22:09] ryzokuken commented on #49
@jywarren let's discuss this and make this one in the next PR? I am not used to using WeChat and I am a little wary of its policies so I might need a little help here. Reading https://github.com/node-webot/wechat/blob/master/README.en.md at the moment.

[2017-07-05 22:40] ryzokuken commented on #49
Okay, upon on further inspection, it seems that it uses express to recieve requests and respond to them. The question arises: Do we have a static URL for the bot that it will recieve requests on? Also, that might not qualify as a legit interface because we cannot send messages back and forth, just reply to messages (which sounds okay-ish for a bot, but that's not how its configured to work, so tha

[2017-07-06 15:32] shanlter commented on #49
@ryzokuken WeChat has personal account, group, official account, and it also function like twitter, paypal, uber, etc, but I don't think WeChat has chatroom. I am not quite understand what you want to build with wechat, but I'd happy to translate if in need.

[2017-07-06 15:36] ryzokuken commented on #49
@shanlter Oh. Now I understand what you mean by Publiclab's official account. No, we should keep the Publiclab official account as-is. We should make another account named "plotsbot" and make it join the publiclab group. Then, the people on the group would be able to chat to the chatbot and make use of its features. Maybe now I'm clearer? I'd love to discuss the possibilites with you.

[2017-07-06 15:50] bassdeveloper commented on #26
@ryzokuken I haven't started work on this. I'm on it at this moment. I'll definitely post if I face issues.

[2017-07-07 00:56] jywarren opened #55 "A behavior that responds if someone says something in a chatroom but doesn't get a response for 10m"
It could say `if you haven't gotten a response, maybe post a question on PublicLab.org/questions` -- though it'd probably not want to say that if the person is in the chatroom a lot... only newcomers if theres any way to determine this.

[2017-07-07 08:36] ryzokuken commented on #55
@jywarren cool. I will think over implementing this today.

[2017-07-08 06:14] namansancheti commented on #27
Hi @ryzokuken,
I would like to claim the badge - 'License' and submit a Pull Request after adding it to the README.

[2017-07-08 10:07] ryzokuken commented on #27
Hey @namansancheti!

That sounds awesome. Thanks for your contribution.

[2017-07-08 10:10] ryzokuken commented on #2
Resolved in #51

[2017-07-08 10:10] #2 closed

[2017-07-08 11:04] namansancheti commented on #27
@ryzokuken Thanks a lot for accepting my Pull Request.
This was my first ever contribution!
Time to go for bigger contributions now..:D

[2017-07-08 22:07] tracypholmes commented on #27
I would like to claim the **'PRs welcome'** badge, if it is still up for grabs!

[2017-07-08 22:09] ryzokuken commented on #27
@tracypholmes it most certainly is! Thanks.

Do keep if informed if you face any problems in the process, and we will try to help you out to the best of our abilities.

Good luck.

[2017-07-08 22:37] tracypholmes commented on #27
@ryzokuken thank you and hopefully it was done correctly. I appreciate your allowing me to do this!

[2017-07-09 11:42] bassdeveloper commented on #26
#58

[2017-07-09 17:55] #26 closed

[2017-07-09 21:25] jywarren commented on #27
Thank you so much, Tracy! very cool and we'd love to work with you again here or at the main plots2 repository (https://github.com/publiclab/plots2).

[2017-07-10 15:32] tracypholmes commented on #27
@jywarren that would be awesome! I will take a look at it this week as well.

[2017-07-10 17:01] Delboyeire commented on #27
Hi, Could I take a shot at contributing to this? it would be my first :-)

[2017-07-10 17:03] ryzokuken commented on #27
@Delboyeire sure. We would love to help you out.

Just choose one of the unchecked badges above and try adding it. Feel free to ask if you face any problems.

Thanks for taking an initiative.

[2017-07-11 19:39] bassdeveloper commented on #8
@ryzokuken , I'll take this up.

[2017-07-13 18:02] ebarry commented on #49
@lilliankorinek check this out! (via @shelbyfirebaugh)

[2017-07-14 04:09] lilliankorinek commented on #49
@ebarry Thank you! Shelby was just telling me about this. This is definitely up our alley!

[2017-07-17 14:34] prabeous73 commented on #27
Hi, I would like to attempt adding the 'Dependencies' badge if this issue is still open. It would be my first ever contribution.

[2017-07-17 15:42] ryzokuken commented on #27
Hi, @prabeous73! Thanks for reaching out.

Yes, the dependencies badge is yet to be added, please feel free to give it a shot and ask if you face any issues.

[2017-07-18 19:58] Big-Tom commented on #27
This would be my first contribution, but I can take a shot at the code climate badge.

[2017-07-18 20:02] ryzokuken commented on #27
@Big-Tom thanks for approaching us, please feel free to make that change.

If you face any issues, feel free to ask us.

[2017-07-18 20:10] Big-Tom commented on #27
I submitted a pull request for the badge, it should work properly.

[2017-07-26 15:16] Uarmagan commented on #27
Hello, Could I add the Git tag? This is my first contribution as well. I'll go ahead and do the PR.

[2017-07-26 17:21] ryzokuken commented on #27
@Uarmagan great! Please do.

Thanks for reaching out.

[2017-08-07 19:39] ryzokuken commented on #8
@jywarren this can be possibly fixed by using https://node-irc.readthedocs.io/en/latest/API.html#Client.nick.

Should I refactor this into an FTO, or should I solve this right now?

[2017-08-07 19:40] ryzokuken commented on #27
Closing this as all tasks have been completed.

Thanks all!

[2017-08-07 19:40] #27 closed

[2017-08-07 22:01] jywarren commented on #8
an FTO would be great!

On Mon, Aug 7, 2017 at 3:39 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-08-08 17:46] ryzokuken commented on #8
@jywarren Added a sample problem statement. Does that sound about right?

[2017-08-10 04:54] ananyo2012 opened #64 "Search behavior for plotsbot"

[2017-08-10 05:42] icarito opened #65 "Chatops behaviour"
This will of course depend on our devops automation ability. For now the simplest would be to make a config file or a directory where we can invoke shell scripts from chat messages. We can invoke log reporting for instance, I have a script that already does that.

[2017-08-10 13:21] jywarren commented on #8
Hi -- I think it could use both a "problem" and "solution" section -- take a look at this for some guidance!

https://publiclab.org/notes/warren/10-31-2016/create-a-welcoming-first-timers-only-issue-to-invite-new-software-contributors

Thanks!

[2017-08-13 06:24] icarito opened #68 "`show` and `tell` from the cli"
* `show` should publish a paste and post a link to the irc channel ( icarito@tycho posted thisfile.txt to http://paste... )
* `tell` should tell a specific user (or all) a message, from the cmd line

[2017-08-13 06:48] ryzokuken opened #69 "About or Introduce behavior"
A behavior in which you could ask plotsbot to introduce/identify itself. Mainly, I was interested to ask a plotsbot instance which version it was on.

I think it would be really useful, especially when there are some issues and you want to check the current version to determine if that bug has been fixed already and stuff like that.

@jywarren @ananyo2012 @icarito any thoughts?

[2017-08-14 06:53] ryzokuken commented on #68
I think for this, we would need to run a local HTTP server that accepts request, and then make a little CLI client capable of these tasks that can send a request to the HTTP server, which will then send a message to IRC.

@jywarren @icarito @ananyo2012 there must be a better way to do it, what do you guys think?

[2017-08-14 06:57] ryzokuken commented on #68
Or better still, we could use websockets.

[2017-08-14 08:27] ananyo2012 commented on #69
+1

On 13-Aug-2017 12:18 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-08-21 10:56] jywarren commented on #55
You'd suggested using a setTimeout, would that work?

[2017-08-21 11:37] ananyo2012 opened #71 "Behavior to support commenting behavior in publiclab.org"
Now that commenting via token has been done in plots2 we should add a behavior that would listen to a mention for `plotsbot` in the comment and respond with a reply. We need to make a POST request with the token header.

[2017-08-21 12:13] jywarren commented on #71
+1!

On Mon, Aug 21, 2017 at 2:37 PM, Ananyo Maiti <notifications@github.com>
wrote:

[2017-08-22 18:40] ryzokuken commented on #55
@jywarren It should, but for that I think we need another class of behaviors, `daemons`, that behave as the name suggests and work in the background. We could discuss this together whenever you're free and I would then love to implement this one ASAP.

[2017-08-22 19:04] ryzokuken commented on #71
@ananyo2012 Right now, the commenting process in one-way. The bot can make comments on the website, but it has no way of knowing if someone else made a comment. Perhaps we could add such a functionality?

[2017-08-22 20:07] jywarren commented on #71
Ah, so something like:

1. see recent posts
2. identify a post and leave a comment on it
3. query the site for what comments are on that post (requires new API call)
4. reply again in a new comment

so we'd need 3), right?

On Tue, Aug 22, 2017 at 3:04 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-08-22 20:08] jywarren commented on #71
Could that look like:

`https://publiclab.org/api/comments/node/<nid>/` ?

On Tue, Aug 22, 2017 at 4:07 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2017-08-22 20:51] ryzokuken commented on #71
@jywarren once we have the persistent behavior trigger, adding to the API could be done easily.

One of us could make an issue for that on the plots2 repository. (Or is it too early?)

[2017-08-23 15:38] jywarren commented on #71
yes, please do open an issue for that! Does the URL look reasonable?

On Tue, Aug 22, 2017 at 4:51 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-08-23 18:30] icarito opened #72 "Give advice / instructions to newcomers on the chat"
The following exchange from #publiclab :
[code]
In a case like this, `plotsbot` should offer advice as to wait for a response or @mention people, or otherwise an appropriate bot command / behaviour.

[2017-08-24 17:00] ryzokuken commented on #71
@jywarren It does! I will make an issue for that in a moment.

[2017-09-17 14:56] ryzokuken commented on #53
@jywarren Let's start working on this?

[2017-09-17 18:30] jywarren commented on #53
How would this relate to, for example, the behavior pattern we had
discussed which would periodically poll, such as observing an RSS feed or
API call? I also don't know where that conversation was, and think we ought
to be sure it's captured in an issue.

And would things like the GitHub interface plug into the plotsbot library
or into the upstream generic bot library? Thanks!

On Sun, Sep 17, 201

[2017-09-17 19:36] ryzokuken commented on #53
I don't think the interfaces would be any specific to our codebase and thus would be open for use in any application making use of the upstream bot library. The shared resources (eg: Github) are specific to our behaviors and thus stay limited to our own codebase. The additional behavior pattern would be added to the core logic of the bot, it is not specific to plotsbot.

We should make another iss

[2017-09-19 17:18] jywarren commented on #53
Cool, that sounds good. I meant specifically where we might have
`require('github-interface')` for example - would that be in the upstream,
and then required in turn into plotsbot but not directly?

On Sun, Sep 17, 2017 at 3:36 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-09-19 19:58] ryzokuken commented on #53
@jywarren Well, the GitHub variable belongs to the state of behaviors, so that won't change. However, we will do:

1. `const Bot = require('chatbot').Bot;`
2. `const ircClient = require('chatbot-interface-irc');`
3. `const cliClient = require('chatbot-interface-cli');`
4. `const Behavior = require('chatbot').Behavior;`

or better,  couple 1 and 4 with something like `import { Bot, Behavior } from

[2017-09-27 14:51] jywarren commented on #72
@ryzokuken - this would be a great place to use the `setTimeout` idea to make a behavoir that says something like `Hi, looks like nobody's around just now. If you have a question, you can post it a https://publiclab.org/questions, or if you need help with a software issue, you can open an issue at https://github.com/publiclab/plots2/issues/new -- thanks!`

[2017-09-27 14:53] jywarren opened #75 "command aliasing -- "plotsbot fto" / "plotsbot, first timers issues?""
I'd like to propose a way we could make different triggers for behaviors to cover various ways of asking questions. Even in different languages! So different trigger words could cause the same behavior to run.

This could be done either inside a behavior, by making a list of triggers, or by making a "wrapper" behavior that then just runs a different behavior.

[2017-09-27 15:58] ryzokuken commented on #72
@jywarren sure. I will start working on that right away.

[2017-09-27 16:00] ryzokuken commented on #75
@jywarren Perhaps we could give an array of strings instead of a single one for the message trigger keyword?

[2017-09-27 16:19] ryzokuken commented on #72
I think we should have something of a "fallback" message triggered behavior for cases like these. Needed to talk to you regarding these. Would you be free of sometime?

[2017-09-27 17:53] #68 closed

[2017-09-27 18:37] ryzokuken commented on #72
@jywarren basically, what I had in mind, was that unlike normal message triggered behaviors that have a definite keyword, we could have some special "fallback" message triggered behaviors that would *all* be called if no behaviors match. This would also be important since this is the case in which the person is not trying to talk to the bot but is trying to talk to others instead.

This one seems

[2017-09-27 19:35] jywarren commented on #72
That sounds reasonable -- we can test in the testing channel to be sure it doesn't flood the channel.

[2017-09-27 23:14] jywarren commented on #75
yeah that sounds good. Is it documented anywhere that it searches for the
string through whole messages to make matches? Sorry, can you point me at
the documentation for trigger keywords? Thanks!

On Wed, Sep 27, 2017 at 12:00 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-09-28 11:01] ryzokuken commented on #75
@jywarren take a look at pt. 3 in https://github.com/publiclab/plotsbot#behavior-model

[2017-09-28 11:03] ryzokuken commented on #72
@jywarren sounds great! I am starting to work on this, will hopefully submit a PR by the end of the day.

[2017-09-30 12:26] jywarren opened #77 "add a GitHub interface"
To allow the bot to interact with GitHub issues!

[2017-09-30 17:35] ryzokuken commented on #77
@jywarren Sounds awesome. The bot needs its own Github account and use the API in order to make comments on Github issues and pull requests, so a good first step would be to start out making one.

[2017-10-02 01:17] jywarren commented on #77
Maybe we can add links here to the GitHub API, and/or any node modules that
may already wrap the GitHub API and make implementation easier?

On Sep 30, 2017 1:35 PM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-10-02 08:30] ryzokuken commented on #77
@jywarren we're already using the required module for the FTO behavior.

[2017-10-02 13:56] jywarren commented on #77
Ah super. Can you link to the lines of code here so a newcomer could
potentially get started? Thanks!

On Oct 2, 2017 4:30 AM, "Ujjwal Sharma" <notifications@github.com> wrote:

[2017-10-07 17:55] ryzokuken opened #80 "config file path broken"
Ever after #78, I started getting the error:
`Error: ENOENT: no such file or directory, open '../config.json'`

However, @codywill mentioned that the particular patch was required for the project to work in windows, however, it seems that for the bot to work in *nix systems, the original version worked fine (it was deployed on tycho already and worked fine on all our machines).

To fix this, we ha

[2017-10-07 18:01] ryzokuken commented on #72
Resolved in #76 😄

[2017-10-07 18:01] #72 closed

[2017-10-07 18:02] ryzokuken commented on #69
@ananyo2012 @jywarren thinking of working on this next. What should be the keyword for this behavior?

[2017-10-07 18:03] ryzokuken commented on #55
Resolved in #76 😄

[2017-10-07 18:03] #55 closed

[2017-10-07 18:21] codywill commented on #80
I just tried running the bot from within the `plotsbot` directory with `node ./src/bot.js` using the original `config.json` path and it worked fine. Previously I had been running the bot from `src` and it couldn't see `config.json`. I can investigate this further since the issue was caused by my change.

[2017-10-07 19:30] ryzokuken opened #82 "Use the updated version of the Github npm package"
Looking at David at https://david-dm.org/publiclab/plotsbot, I realized that we're using an outdated version of `github`, one of our npm dependencies. A comprehensive list of changes can also be seen at David. I think we should upgrade to the current version of the npm package.

[2017-10-08 16:33] ryzokuken opened #84 "Add David's devDependencies badge on README and subsequently upgrade them"
Now that we're working on upgrading the `github` package in our dependencies, it would be important for us to keep a track of our devDependencies as well and upgrade them whenever a new stable release surfaces. (For now, both `coveralls` and `eslint` are outdated)

[2017-10-09 19:03] jywarren commented on #69
This sounds nice, maybe `plotsbot version`? It'd show up in the help
command, right?

On Sat, Oct 7, 2017 at 2:02 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-10-10 08:41] #82 closed

[2017-10-10 08:43] ryzokuken commented on #80
Resolved in #81

[2017-10-10 08:43] #80 closed

[2017-10-10 08:48] ryzokuken commented on #69
@jywarren It should. That said, we have changed quite a few things and we haven't updated the `help` behavior from quite sometime. Could you make an issue for it? If you're busy, I would make one tonight.

[2017-10-10 17:20] jywarren commented on #69
ok!

[2017-10-10 17:21] jywarren opened #86 "Update 'help' behavior with recent additions"
As mentioned in comments of #69, let's update the 'help' behavior to reflect the full set of possible commands.

But is it statically defined? Couldn't we have it dynamically find and describe behaviors?

[2017-10-10 17:21] ryzokuken commented on #69
Thanks :)

[2017-10-10 17:23] ryzokuken commented on #86
Sounds great! What if we also had a `helpText` entry inside each behavior and the person who wrote the behavior also wrote the help text for that behavior?

[2017-10-10 17:30] jywarren commented on #86
That sounds super. A little like how we're trying to make the `info.json`
descriptions in image-sequencer modules

On Tue, Oct 10, 2017 at 1:23 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-10-10 17:49] ryzokuken commented on #86
Exactly. I'll make an issue for that as well. Perhaps we could convert it into a bunch of FTOs instead (for adding a help text inside each current behavior).

[2017-10-15 17:50] jywarren opened #88 "explore integration with zulipbot"
This is a neat bot that has 4 behaviors relevant that could be behaviors, maybe would like to collaborate on a generic bot framework...

https://github.com/zulip/zulipbot

[2017-10-15 17:54] ryzokuken commented on #88
@jywarren definitely. Will look into it. A good first step might be #53. Wdyt?

[2017-10-15 18:05] jywarren commented on #53
Agreed with @ryzokuken this is a good step now.

I also wanted to suggest we allow adding behaviors simply by `require`ing them. This'll further separate behavior code and allow behaviors to be developed as independent modules. What do you think?

[2017-10-16 13:13] ryzokuken commented on #53
@jywarren I don't understand. Aren't we doing that right now? Inside of `src/bot.js`,  we `require` the core chatbot functionality (`src/behaviors/index.js` for now, will become an independent module soon, it seems) and `require` all of our behaviors, which should stay inside of the plotsbot module for now, but yeah, who knows, maybe someday a particular behavior would become big and generalized a

[2017-10-16 14:23] ryzokuken commented on #53
So, let's discuss the specifics. What should I name the package? Under what license should it be released? Should it be added as a repository under the publiclab orgranization, or should it be a personal repository?

[2017-10-18 19:24] jywarren commented on #53
Hi, @ryzokuken -- re:

I'd like to propose additionally that we simply require everything in a `behaviors` directory, without needing an explicit line for each behavior in the code (as we do on this line: https://github.com/publiclab/plotsbot/blob/29f6198a8e12a54bf7ce9029ffaf0d580cb3b64b/src/bot.js#L16)

Or that we have a configuration file that each person can set for the behaviors they want. Thi

[2017-10-18 19:46] ryzokuken commented on #53
Exactly my point. The codebase is as modular as it might get already, but the core bot logic and the plotsbot implementations aren't part of separate codebases yet. This gives rise to a ton of problems, because if I needed to say, make another instance, I would either have to fork plotsbot or copy the file.

Instead, if the core logic was maintained as an npm module, everyone could just `require`

[2017-10-18 19:48] jywarren commented on #53
OK, that sounds good then. For a name, maybe "multibot", since it works
across various interfaces? And would this new repo point at `plotsbot` as
an example of how to make a customization of the general bot? If so, great!

On Wed, Oct 18, 2017 at 12:46 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-10-18 19:50] ryzokuken commented on #53
Yeah, it will have to. I mean, plotsbot is always going to be "the implementation". I guess anything you'd like would be fine for the name. Please create the repository if you want it to be created in plotsbot and I'll add the initial PR.

[2017-10-18 20:12] #69 closed

[2017-10-18 20:22] jywarren commented on #53
Cool, I'll make you an admin!

On Wed, Oct 18, 2017 at 12:50 PM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-10-18 20:25] jywarren commented on #53
https://github.com/publiclab/multibot !

[2017-10-21 17:14] #84 closed

[2018-02-18 08:20] amitsin6h commented on #31
@jywarren @ryzokuken can I work on this as my first contribution to PublicLab

[2018-02-18 08:45] ryzokuken commented on #31
Sure! Please feel free to go ahead.

On Sun 18 Feb, 2018, 1:50 PM Amit singh, <notifications@github.com> wrote:

[2018-02-18 08:49] amitsin6h commented on #31
@ryzokuken what I understand from the issue is that we need to create a CONTRIBUTING .md file. but what things I have to write in the file.

[2018-02-18 11:40] ryzokuken commented on #31
Try looking at a few CONTRIBUTING.md files, especially the one we use at plots2. We'd basically need resources for new contributors in there. Make a PR with a dummy file and we could discuss the specifics inside that PR.

Thanks.

[2018-02-18 12:25] amitsin6h commented on #31
@ryzokuken could you please the PR #94

[2018-03-21 20:34] jywarren opened #95 "Simple "keyword/response" mini-behaviors"
In Slack, the `slackbot` can be configured to respond to a list of keyword triggers in a simple format, where you type the trigger words and then the string that's returned:

* `cat` => `Hi there, a cat is a pet.`
* `file an issue` => `Want to file a GitHub issue? https://github.com/publiclab/plots2/issues/`

It'd be great to be able to add simple behaviors to `plotsbot` by just adding a single li

[2018-03-22 12:52] ryzokuken commented on #95
Sure! We could modify the core to make it accept an array of strings for a behavior as compared to a single string or sth and then make a behavior that can accept multiple triggers.

Or perhaps add another function in the core to aid the programmer in adding simpler mini-behaviors?

[2018-03-22 13:36] jywarren commented on #95
Which do you think would make for the simplest way to submit a new
behavior? I imagine even a one-line change could be possible, no?

On Thu, Mar 22, 2018, 8:53 AM Ujjwal Sharma <notifications@github.com>
wrote:

[2018-03-22 13:39] jywarren commented on #95
Also, potentially as a next step a function could be passed instead of a
response string and it could produce a simple dynamic response, like:

[code]

But simple string response is even easier as a first step.

I think doing this could be a great way to encourage new behavior
submission and start getting more people working on plotsbot - a nice
simple onramp!

On Thu, Mar 22, 2018, 9:36 AM Jeffre

[2018-03-22 15:33] ryzokuken commented on #95
@jywarren sounds great! Let me dive into it.

[2018-03-26 21:24] jywarren commented on #95
Awesome!!!

[2018-03-29 04:13] icarito opened #99 "Docker build fails to `yarn install`"
After having built, examining the container, no `node_modules` directory is found.

There is a strange message about not having connection, also during build stage.

Worked around this by running yarn from Docker host.

[code]

Still opened issue to keep track and fix! Thanks!

[2018-03-29 04:18] icarito commented on #99
Here's the build log with the connection error:
[code]

[2018-03-30 15:07] jywarren opened #101 "modularize .recognize function for re-use in Idle behavior"
perhaps if plotsbot knows somebody's been in the chatroom before, they don't need to offer the "idle" response?

what do you think? I think the welcome behavior has a routine to "recognize" people who aren't new, right? Maybe we could modularize that and re-use it, like `if user.recognized() ...`

[2018-03-30 17:52] ryzokuken commented on #101
Umm, I believe we should just move where the recognized people are stored from the scope of the behavior to the scope of the entire chatbot. What do you say?

[2018-03-30 19:48] jywarren commented on #101
sounds great! 👍

this is exciting!!!

[2018-04-03 06:27] MargaretAN9 commented on #29
I am a first timer - can I take this up?

[2018-04-03 18:04] steviepubliclab commented on #29
That would be great! Thanks!

[2018-04-03 18:09] steviepubliclab opened #102 "Change welcome text"
Could we change the welcome text of the plots bot to say "Here's a link to the Code of Conduct that's in effect in this, and all other spaces of Public Lab" instead of "Please be aware of our Code of Conduct"

[2018-04-03 18:44] ryzokuken commented on #29
@MargaretAN9 sure thing! Let us know if you get stuck, we'd be glad to help you out.

[2018-04-03 18:46] ryzokuken commented on #102
@steviepubliclab sure, that sounds way better. I'm sorry for the sloppy messages, I'm really need to improve myself at this stuff.

[2018-04-05 21:30] patcon opened #104 "Greet users via direct message when possible"
Hi!

Just spending my first chunk of time of the public lab chat, and wondering whether there might be willingness to consider being a little less vocal with greetings?

(I'm a developer and a big fan of bots btw! I help maintain a few within organizations I work with :slightly_smiling_face:  )

Here are some :mag: facts, :heart: feelings, and :bulb: ideas floating in my head:

1. :mag: plotsbot e

[2018-04-05 21:45] ryzokuken commented on #104
Hi, @patcon!

This looks great, I personally really appreciate the time and effort you've put into this.
Looking at the logs, one could not refute your observation. Let's discuss (either synchronously on chat or asynchronously in here) about your ideas, I would love to talk this one out and hopefully, see you getting involved with the project (we could definitely use an extra pair of hands around)

[2018-04-06 23:10] #95 closed

[2018-04-06 23:14] jywarren opened #105 "move behaviors array into separate behaviors.js file in bot.js"
And require () it -- and consider how to specify a unique behaviors file at startup

[2018-04-10 02:40] jywarren commented on #101
How's this going, ryzokuken, need any help? I think this could reduce some traffic in the chatroom. Tell us how we can pitch in!

[2018-04-10 05:39] ryzokuken commented on #101
@jywarren sorry, I got a little busy and forgot that the bot must be spamming the channel meanwhile. I will prioritize this for today.

[2018-04-10 09:28] ryzokuken commented on #101
So, I had just started working on this, trying to hack up a generalized solution first (creating a `MemoryBehavior` model), but that didn't work because things are a little complicated regarding cross-behavior consistency.

I gave up on that solution and started working on something specific for the `unresponsive` behavior instead (something exactly along the lines of what we do in the `greet` beh

[2018-04-10 09:29] ryzokuken opened #106 "make arguments to action more consistent"
Ref: https://github.com/publiclab/plotsbot/issues/101#issuecomment-380035202

[2018-04-10 16:25] jywarren commented on #101
Cool! I think we could make a shorter-term fix with a clear pathway to a
generalized solution as a next step. If we do outreach well, we can bring
other people in for the various steps, no?

Awesome!

On Tue, Apr 10, 2018 at 5:28 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2018-04-10 16:35] ryzokuken commented on #101
@jywarren we can. Thing become much easier when we have multiple contributors.

[2018-04-12 18:15] steviepubliclab commented on #102
Not sloppy!! I thought it was great, just a small tweak :)

[2018-04-17 00:35] pdurbin commented on #104
I'm also just now spending time in the chat room for the first time and I feel like plotbot is pretty noisy, especially the "Hi, looks like nobody's around just now" messages. I'm way less bothered by the welcome message when new people join, even though it isn't a direct message, which is what this issue seems to be about mostly.

[2018-04-17 04:51] patcon commented on #104
Good call. Should I migrate this issue to be more generally about being able to DM when possible? I don't feel it needs to be specific to greetings :)

[2018-04-17 04:53] patcon commented on #104
And @ryzokuken, I'll likely come back to help with this once I'm spending more time in chat. I'm not actively working on PL things with now, but imagine I'll eventually overlap due to my interests in community animating. At that point, coexisting with the bot will be on my critical path, and I'll be excited to help!

[2018-04-17 04:55] ryzokuken commented on #104
@patcon I'd love that! Thanks.

[2018-04-17 16:13] #106 closed

[2018-04-29 13:48] pdurbin opened #108 "too many "looks like nobody's around just now" messages"
I've been hanging out in the main Public Lab chat room for a few weeks now and it's very nice except that plotbot keeps spamming the channel with "looks like nobody's around just now" messages. Examples below from https://gitter.im/publiclab/publiclab?at=5ae228a12d0e228d7bb6fb9d are highlighted in red:

<img width="675" alt="nobody" src="https://user-images.githubusercontent.com/21006/39407319-374

[2018-04-29 14:10] pdurbin commented on #104
@patcon I love your writeup but since I have the sense that you're focused on a solution (direct messages) rather than a problem (plotsbot being too vocal), I opened a new issue about what I consider the problem to be (too many "looks like nobody's around just now" messages) in #108. I'd love to hear what you and @ryzokuken and others think.

[2018-04-29 15:59] pdurbin commented on #104
@ryzokuken and I have been talking about how it's challenging to switch to direct messages given the current chat services. See also "Where is the home base for chat? IRC, Gitter, Matrix, Slack, etc.?" at https://github.com/publiclab/plots2/issues/2590

[2018-04-29 15:59] pdurbin commented on #108
@jywarren hi! I assume @ryzokuken would link you to #104 where the conversation about DMs as a solution is happening. In this issue I'm trying to be agnostic about the solution. :smile:

[2018-04-29 16:00] ryzokuken commented on #108
@jywarren me and @pdurbin have been working on a pre-requisite step for it, by making an excel sheet full of alternative chat platforms.

My point here being: we'd first need to bring the community to a single unified platform in order to make DMs work. As of now, the community is fragmented, with plotsbot itself sticking to IRC, which means that it cannot DM non-irc users (the majority of them) a

[2018-04-29 16:17] pdurbin commented on #108
Yes, I linked to the spreadsheet about various chat platforms in a comment with some additional context at https://github.com/publiclab/plots2/issues/2590#issuecomment-385257554

Here's a direct link to the spreadsheet: https://docs.google.com/spreadsheets/d/1V-L55OusMKgZNkbc_yarASQuWa9JoJzxkjqjCxfLOkw/edit?usp=sharing

[2018-04-29 21:30] pdurbin commented on #108
@icarito you're saying that plotbot would be able to connect to as many chat services as Public Labs uses, right? It's not a bad idea but it would be a lot of work because so many services are used. As of this writing I believe they are Matrix, IRC, Gitter, and Slack.

[2018-04-30 02:55] pdurbin commented on #108
It dawned on me today that plotsbot always gets the last word.

@icarito @ebarry and I can be chatting away for quite a while and say goodbye quite naturally but plotsbot always chimes ten minutes later saying that nobody's around:

<img width="463" alt="screen shot 2018-04-29 at 10 43 46 pm" src="https://user-images.githubusercontent.com/21006/39413897-e67ae6d8-4bfe-11e8-9c7f-8d90d7d196d5.png">

[2018-04-30 16:35] jywarren commented on #108
Here's a very rough initial attempt at this behavior: https://github.com/publiclab/plotsbot/pull/109

I'm not great at this... any help appreciated!

[2018-04-30 16:36] jywarren commented on #101
very initial start in #109 for just the "nobodys around" behavior -- not the generalized case!

[2018-04-30 22:31] pdurbin commented on #108
@jywarren thanks so much for weighing in on this issue and making the pull request. I left a review on it.

It's nice to hear the intent but the reality is somewhat different in the sense that people aren't necessarily asking questions. People are having a nice chat and ending with "whelp, good chat. good night!" But then plotbot always has to have the last word. "Nobody's around!" 😄

Over in #ope

[2018-05-01 00:51] pdurbin commented on #108
@ryzokuken @jywarren I just opened pull request #110 as another option. It disable's the "nobody's around" message for now.

[2018-05-01 15:26] jywarren commented on #101
@pdurbin notes:

Great extra info!

[2018-05-01 15:27] jywarren commented on #108
Great - copying this segment over to #101 -- thanks!!! 👍

And saw your review - double thanks!

[2018-05-01 21:43] pdurbin commented on #99
While working on pull request #110 last night I used Docker to test my changes and it worked fine. @icarito are you still having this problem? I should mention that I'm not very good and Docker and didn't even notice the docker-compose file. I was running `docker build -t pb1 -f Dockerfile .` not because it's better but because it worked. :smile:

[2018-05-01 23:07] pdurbin commented on #108
Now that pull request #110 has been merged, it should be safe to close this issue, so I'll go ahead. Thanks for approving it @ryzokuken and for merging it @jywarren . Much appreciated.

[2018-05-01 23:07] #108 closed

[2018-05-01 23:14] jywarren commented on #108
thank you too!

On Tue, May 1, 2018 at 7:07 PM, Philip Durbin <notifications@github.com>
wrote:

[2018-05-28 03:03] jywarren opened #113 "Add few more admins to publiclab-testing IRC channel"
We had some ugly abuse just now, but only @ryzokuken is an admin on OFTC -- can you add @icarito and @jywarren and @ebarry?

[2018-05-28 18:33] ryzokuken commented on #113
@jywarren will do this right now.

[2018-05-28 18:33] #113 closed

[2018-05-28 18:34] ryzokuken commented on #113
@jywarren I added Sebastian, neither you nor Liz were on the channel right now. LMK whenever you can drop in for a moment and I'll be happy to OP you.

[2018-10-01 19:33] LonghornRach commented on #29
Was this fixed? If not I am happy to take it up!

[2018-10-01 19:37] ryzokuken commented on #29
@LonghornRach it hasn't been added yet, and it's been quite some time since someone picked this up, so please feel free to go ahead with this. In case you face any issues, you could ask here or on our chatroom. Thanks!

[2018-10-04 14:25] jywarren opened #115 "PublicLab.org interface, or docs?"
Hi @ryzokuken, I remember youd experimented with an interface for publiclab.org and I wondered what the status of that was?

Thanks!

[2018-10-13 21:33] LonghornRach commented on #29
@ryzokuken This was closed by PR #114 :-)

[2018-10-26 19:51] ryzokuken commented on #115
@jywarren could totally be done. We'll need a conventional interface for publiclab.org, and probably use webhooks like GitHub does.

Once that's done (building the webhook API), we could attach the webhook to send messages to plotsbot to signify whenever a person has made their first article (or any article, plotsbot could use the standard users API to check if it was their first) and plotsbot cou

[2018-11-02 14:36] jywarren opened #117 "display IRC output (responses, errors) in Jenkins log for debugging"
@ryzokuken @icarito is this possible?

[2018-11-02 14:37] jywarren commented on #117
Such as how many people plotsbot has quieted and if it worked?

[2018-11-02 15:00] jywarren opened #118 "Behavior to 'unquiet' after correctly answering a question in IRC DM?"
Is this possible? I'm writing the new `quiet` rule docs at https://publiclab.org/chat#IRC and the workflow to de-quiet someone is a little awkward and slow. If `plotsbot` could have some kind of simple interaction with a person we could probably be sure they're not a bot themselves... @ryzokuken @icarito

What is the "quiet exemption" command in IRC anyways?

[2018-11-02 16:14] jywarren opened #121 ""quiet" irc behavior seems to send a plaintext message, not an IRC command"
Hmm, not sure why

[2018-11-02 16:15] jywarren commented on #121
Also, will `plotsbot` require op privileges to send it's `/quiet @username` message?

[2018-11-02 16:19] jywarren commented on #121
https://www.npmjs.com/package/irc

[2018-11-02 16:20] jywarren commented on #121
aha:

[code]

[2018-11-02 16:22] jywarren commented on #121
attempted here: https://github.com/publiclab/plotsbot/pull/122

[2018-11-02 17:45] icarito commented on #118
Quiet exemption on OFTC IRC network is as follows (from https://www.oftc.net/ChannelModes/):

b - ban this hostmask
q - quiet this hostmask. Anyone matching this hostmask will be unable to speak on the channel
e - exempt this hostmaks from bans and quiets

So something like /mode +e ircuser@hostmask

[2018-11-02 17:50] icarito opened #123 "Needed: Ability to identify with Nickserv"
This could be done with `/msg nickserv identify p4ssw0rd` or with a SSL certificate. Figuring it out!

[2018-11-02 18:37] ryzokuken commented on #117
I haven't used said Jenkins instance yet. Are we using it for CI? That actually determines if we can display output on it or not (but it's most probably yes, no matter what).

[2018-11-02 20:43] jywarren commented on #117
Actually we're running plotsbot in a container managed in Jenkins, at
https://jenkins.laboratoriopublico.org. Could we configure a log location
to dump this stuff into, which we could then read via Jenkins interface?

On Fri, Nov 2, 2018 at 3:38 PM Ujjwal Sharma <notifications@github.com>
wrote:

[2018-11-02 23:13] icarito commented on #117
I've just added:
[code]
to the jenkins job for plotsbot. Hopefully this will make it easier to figure out its status.

[2018-11-02 23:14] icarito commented on #117
Otherwise we could redirect stdout to a file and then the log would be accessible from https://jenkins.laboratoriopublico.org/job/Plotsbot/ws/

[2018-11-02 23:16] icarito commented on #117
https://jenkins.laboratoriopublico.org/job/Plotsbot/lastSuccessfulBuild/console shows the output log now:
[code]

[2018-11-05 22:32] #117 closed

[2018-11-05 22:34] jywarren commented on #121
done!

[2018-11-05 22:34] #121 closed

[2018-11-05 22:36] jywarren commented on #118
OK! So:

`/mode #publiclab +e nick`

[2018-11-05 22:38] jywarren commented on #118
Added guides here: https://publiclab.org/chat#IRC

[2018-11-05 22:39] jywarren commented on #118
Could this just be a behavior that you direct message at plotsbot with something like `@plotsbot unquiet me` and plotsbot responds with the above unquiet command, as a behavior itself?

[2018-11-05 22:39] jywarren commented on #118
@ryzokuken what do you think?

[2018-11-07 00:04] jywarren commented on #118
Done! For now, simply write `/msg plotsbot approve me` and it works, via `approveBehavior`!

[2018-11-15 00:25] jywarren opened #125 "increasing plotsbot response speed (banning abusive spambot posts)"
Is it possible to get plotsbot to respond faster to counteract spambots, who are posting a bunch of stuff in quick succession? Or are there other ways around this? A delay for new posters? @icarito @ryzokuken @pdurbin maybe some IRC trick to combat this? Sorry to call people into this but the chatbot attacks have occasionally gotten past our bans.

[2018-11-15 13:15] jywarren commented on #125
Maybe now we know plotsbot is relatively reliable we can make this a fully moderated channel (not just individually quieted) and have plotsbot give everyone individually voice, automatically if it's a [m] matrix user (slack, riot, gitter)

[2018-11-15 16:29] jywarren opened #127 "plotsbot can't approve IRC users via Matrix bridge"
since they aren't identified, i guess?

https://github.com/matrix-org/matrix-appservice-irc/issues/428

This part of the config seems to address identification....

https://github.com/matrix-org/matrix-appservice-irc/blob/d59b18a958a0f27b7492723552629f7d22783eb5/config.sample.yaml#L342-L345

Oh! Guidance here!

https://github.com/matrix-org/matrix-appservice-irc/wiki/End-user-FAQ#how-do-i-register

[2018-11-15 16:29] jywarren commented on #127
Also see https://github.com/matrix-org/matrix-appservice-irc/search?q=identify&type=Issues

[2018-11-15 16:33] jywarren commented on #127
Oh wow, you can do this! Messaging `@_oftc_nickserv:matrix.org` and then accepting it's private message PM invite.

[2018-11-15 16:34] jywarren commented on #127
![image](https://user-images.githubusercontent.com/24359/48567180-73e18f00-e8ca-11e8-9ca9-cd064b4761b0.png)

[2018-11-15 16:38] jywarren commented on #127
and if you are `jywarren` you'll actually be `jywarren[m]` to nickserv; so `register PASSWORD EMAIL_ADDRESS` will register you

[2018-11-15 16:42] jywarren commented on #127
Even while identified manually (and theres' an automated way here https://github.com/matrix-org/matrix-appservice-irc/wiki/End-user-FAQ#and-do-it-automatically) i wasn't able to speak from Matrix/Riot into IRC... ☹️

[2018-11-15 16:45] jywarren commented on #127
Can we have people auto-identified if from Matrix? @icarito

[2018-11-15 17:18] jywarren commented on #127
Added messages to plotsbot quiet and voice behaviors to tell people to join via a non-IRC chat...

[2018-11-15 17:28] jywarren commented on #125
We switched to a +m mode, see #127

[2018-11-15 17:29] jywarren commented on #127
I tried `/mode +q #publiclab` instead of `/mode +m #publiclab` to allow exemptions for bots, but got this message:

`#publiclab #publiclab Channel ban list is full`

[2018-11-15 17:33] jywarren commented on #127
* https://forums.mirc.com/ubbthreads.php/topics/129656/Channel_ban/ignore_list_is_ful

[2018-11-15 17:37] jywarren commented on #127
OK, i added `/mode +mz #publiclab` which means ops can hear quieted/moderated people, so we at least know if a real person is stuck

[2018-12-09 16:51] pdurbin opened #141 "fto bug: "If no repositories are mentioned, the user is asked to do so" doesn't work"
Instead of giving you the feedback that you're supposed to add "plots2" or whatever, the bot ignores the "fto" keyword if you don't specify a repo.

[2018-12-09 16:53] pdurbin opened #142 "many behavoirs are not documented"
Over at https://gitter.im/publiclab/publiclab?at=5c0d471df992693c7a4913e2 I hear there are many undocumented behaviors. We should add them to the README.

[2018-12-10 17:58] jywarren commented on #142
indeed! could look in /src/behaviors, which is reasonably well commented

On Sun, Dec 9, 2018 at 7:27 PM d1g1t4ld1n4 <notifications@github.com> wrote:

[2018-12-10 20:04] jywarren opened #143 "Make "welcome" messages only after someone speaks up"
replying to @ryzokuken about the welcome messages we see a lot of:

The only reason they are there is because the anti-spam measures mean that IRC joiners may not hear responses.

We could change the message to only post if an IRC person speaks up (the first time?) and others are trying to respond to them.

So how would we structure that behavior? Starting with a trigger for:

`IF it's a new user

[2018-12-11 19:18] ryzokuken commented on #143
@jywarren sounds much better than the status quo 😄

[2018-12-11 19:19] ryzokuken commented on #142
@jywarren do you want me to make FTOs for each behavior? I feel it should be pretty straightforward to just look at all the .js files.

[2018-12-12 01:55] jywarren commented on #142
sure, but perhaps the "denoisy-fying" issue for the issue I just opened is
a higher priority to start with if you have a moment! Thanks!

On Tue, Dec 11, 2018 at 2:19 PM Ujjwal Sharma <notifications@github.com>
wrote:

[2018-12-12 01:56] jywarren commented on #143
thanks, if you're able to help us get this going that would be so helpful!

On Tue, Dec 11, 2018 at 2:18 PM Ujjwal Sharma <notifications@github.com>
wrote:

[2019-02-02 22:59] gauravano commented on #31
@ryzokuken @jywarren can I close this one as #94 seems to solve this issue? Thanks!

[2019-02-02 23:17] gauravano commented on #40
@jywarren @ryzokuken any particular issue you want to open from here? Thanks!

[2019-02-03 05:50] icarito commented on #99
Thanks for unburying this one. We're not seeing this anymore, possibly from DNS fixes in Tycho.

[2019-02-03 05:50] #99 closed

[2019-02-03 19:07] sidntrivedi012 commented on #8
@gauravano Would like to help out on this.

[2019-02-04 14:09] gauravano commented on #8
Great @sidntrivedi012!

[2019-02-04 15:32] jywarren commented on #88
Let's close this as it's more of a suggestion of use cases! I think there are a lot of issues we can essentially leave open in this repository - perhaps as in the Editor repo, if someone begins to build a community around it, we will have some projects for people to work on. Thanks!

[2019-02-04 15:33] jywarren commented on #40
I believe we can close this as there is now a `SimpleBehavior` class which can be used to generate a simple static response:

[2019-02-04 15:33] jywarren commented on #40
https://github.com/publiclab/plotsbot/blob/9bfe117322bea5a806c1600db2c54ad5395a850f/src/bot.js#L53

[2019-02-04 15:33] #40 closed

[2019-02-04 15:34] jywarren commented on #40
Although perhaps it could be added to the docs if it's not already!

[2019-02-04 18:06] #31 closed

[2019-02-07 12:35] gauravano commented on #88
Cool! Let's keep it open for now. Thanks!

[2019-02-07 12:38] gauravano commented on #99
Great!

[2019-02-21 15:41] RizwanSyed357 commented on #141
Hi, I am interested in potentially helping out with this, but I will need a lot more info on the problem so that I know how to go about looking at solving it.

This post states 'instead of giving you the feedback...' May you please clarify what this instead condition is and its context?

Also, the title of this post states that "If no repositories are mentioned..". Mentioned when and in what conte

[2019-02-21 16:37] jywarren commented on #141
Hi, thanks so much! You should be able to try interacting with plotsbot at
https://publiclab.org/chat, and I suggest trying out the command! Thanks
for your help!!

On Thu, Feb 21, 2019, 7:42 AM Rizwan Syed <notifications@github.com wrote:

[2019-10-08 11:38] MetalDent commented on #143
Hi, is anyone working on this issue?

[2019-10-08 15:06] ryzokuken commented on #143
@MetalDent feel free to pick it up! Don't hesitate to ask for help here or on IRC/Matrix if you're stuck/need help with anything.

[2019-10-14 17:09] MetalDent commented on #143
@ryzokuken how can I check if someone sends a message?

[2019-10-15 02:24] ryzokuken commented on #143
The IRC Interface currently doesn't give away that kind of information, so you will have to update the interface.

[2019-10-15 20:10] glowingrunes commented on #105
Hey - I know this is an old issue but I need to find something to do for Hacktoberfest. If you could give me a bit more detail on this, then I'd like to pick it up.

[2022-10-04 21:53] Ashu-1309 commented on #102
Can i di this??

[2022-10-15 19:20] tatoberres commented on #141
Hi ! Actual message to "fto" keyword with no repo-name is:
"You need to mention the name of a repository."
So, is there anything to do still here ?
Maybe try to retrieve a list of repos names and give it back in the message, so user can pick one ?
This could get things easier, but also... if there is no issues on repo or if its not public or hasn't any fto label on it, it can result on frustrating

[2022-10-15 19:50] tatoberres commented on #102
I think this issue can be closed also, isn't it ?

[2022-10-16 01:59] pdurbin commented on #141
@tatoberres hi, my expectations are low at this point. 😄

I haven't been hanging out in Public Lab chat lately (hi, @jywarren and @ebarry!).

I think I'll just close this. Thanks.

[2022-10-16 01:59] #141 closed

[2022-10-16 02:24] ebarry commented on #141
HI @pdurbin !

[2022-10-16 13:50] tatoberres commented on #141
Cool ! I'll search another issue. But good news it's working as expected ! :D